@charset "UTF-8";
/*============================================================================
  [replace with theme name] | Built with Slate
    - You cannot use native CSS/Sass @imports in this file without a build script
==============================================================================*/

/*================ UTILS ================*/
@import url('tools/mixins.scss');

/*================ SETTINGS ================*/
@import url('settings/variables.scss.liquid');

/*================ COMMON ================*/
@import url('global/normalize.scss');
@import url('global/slate-reset.scss');
@import url('global/helper-classes.scss');
@import url('global/grid.scss');
@import url('global/layout.scss');
@import url('global/icons.scss');
@import url('global/rte.scss');
@import url('global/responsive-tables.scss');
@import url('global/links-buttons.scss');
@import url('global/forms.scss');
@import url('global/blank-states.scss');

/*================ MODULES ================*/
@import url('modules/site-header.scss');
@import url('modules/gift-card-template.scss');


/*========== Vendor =========*/
@import url('vendor/slick.scss');

body{
	font-family: {{ settings.copy_font_family }};
}

/*====== Global Animations ===========*/
.js-fade{
	opacity: 0;
	will-change: opacity;
}

.js-zoom{
	img{
		@include prefix(transform, scale(1.5,1.5), webkit spec);
		opacity: 0;
		will-change: transform;
	}
}

.js-slide{

	&[animation-direction="left"]{
		@include prefix(transform, translateX(-110vw),webkit spec);
		will-change: transform;
	}

	&[animation-direction="right"]{
		@include prefix(transform, translateX(110vw),webkit spec);
		will-change: transform;
	}
	
}

/*======= End of Global Animations ========*/

/*======= Global Section CSS ==========*/
.shopify-section{

}
/*======= End of Global Section CSS ======*/
/*======== Header Section CSS ========*/

.header_promo{
	@include prefix(transition, all 0.3s ease-in-out, webkit spec);
	display: flex;
	align-items: center;
	position: relative;
}

.main_header{
	display: flex;
	align-items: center;

	.header__element{
		ul.site-nav{
			list-style: none;
			white-space: nowrap;

			li{
				display: inline-block;
				padding: 0px 5px;
			}



			&.simple{
				padding: 0px 15px; 

				.site-nav__submenu, svg{
					display: none;
				}
			} // End of Simple Nav
		} // End of UL.site-nav

		&.header_logo{
			text-align: center;
			img, a{
				margin: 0 auto;
			}
		}

		a.site-nav__link, li a{
			color: #{'{{ settings.header_color }}'};
			text-decoration: none;

			@include prefix(transition, all 0.3s ease-in-out, webkit spec);
			&:hover{
				color: #{'{{ settings.header_color-hover }}'};
			}
		} // end of nav link colors 
	
		li#search_container{
			&.expand{

				form{
					input{
						width: 0;
						max-width: 0;
						margin: 0;
						border: 1px solid transparent;
						@include prefix(transition, all 0.3s ease-in-out, webkit spec);
					}

					.btn[data-search-close]{
						display: none;
					}

					&.opened{
						input{
							width: auto;
							max-width: 100%;
							border: 1px solid #ccc;
							margin: 1px;
							@include prefix(transition, all 0.3s ease-in-out, webkit spec);
						}

						.btn[data-search-close]{
							display: inline-block;
						}
					}

				} // End of Expand Form 
			} // End of Expand

			&.fade{
				form{
					input{
						opacity: 0;
						@include prefix(transition, all 0.3s ease-in-out, webit spec);
						margin: 0px 5px;
					}

					.btn[data-search-button]{
						padding-left: 0px;

						&:focus{
							outline: none;
						}
					}

					.btn[data-search-close]{
						display: none;
					}

					&.opened{
						input{
							opacity: 1;
						}

						.btn[data-search-close]{
							display: inline-block;
						}
					}
				} // End of Fade Form
			} // End of Fade


			&.bar{
				form{
					input{
						height: 0;
						@include prefix(transition, all 0.3s ease-in-out, webkit spec);
						position: absolute;
						top: 100%;
						bottom: auto;
						z-index: -1;
						left: 30px;
						right: 0;
						padding: 0px 15px;
						width: calc(100% - 30px);
						border: 0px;
						margin: 0;
						color: white;

						&::placeholder{
							color: white;
						}

						&:-ms-input-placeholder{
							color: white;
						}

						&::-ms-input-placeholder{
							color: white;
						}

						&::-webkit-input-placeholder{
							color: white;
						}
					}
					&.opened{
						input{
							height: 50px;
							line-height: 45px;
							z-index: 1;
							bottom: auto;
							top: 100%;
							background: rgba(0,0,0,0.3);
							border-bottom: 1px solid white;
							margin-bottom: 15px;
						}

						.btn[data-search-close]{
							z-index: 2;
							top: 100%;
							bottom: auto;
							padding: 2px 7px;
						}
					}	
					.btn[data-search-close]{
						position: absolute;
						right: 15px;
						z-index: -1;
						height: 0px;
						bottom: 0;
						padding: 0;
						height: 50px;
						line-height: 45px;
						background: transparent;

						span{
							color: white;
						}
						&:focus{
							outline: none;
						}
					}			
				} // End of Bar Form  

			} // End of Bar 

			&.overlay{
				form{
					#inputContainer{
						position: fixed;
						top: 0;
						right: 0;
						left: 0;
						bottom: 0;
						background: rgba(0,0,0,0.3);
						z-index: -1;
						opacity: 0;
						display: flex;
						justify-content: center;
						align-items: center;
						@include prefix(transition, 0.3s all ease-in-out, webkit spec);

						input{
							border: 0px;
							background: rgba(0,0,0,0.5);
							margin: -25px 15px 0px 15px;
							color: white;
							padding: 0px 15px;
						}
					}

					&.opened{
						#inputContainer{
							z-index: 2;
							opacity: 1;
							
							input{
								width: 100%;
								height: 50px;
								border-bottom: 1px solid white;
								-webkit-box-shadow: 0px 0px 84px -10px rgba(0,0,0,0.75);
								-moz-box-shadow: 0px 0px 84px -10px rgba(0,0,0,0.75);
								box-shadow: 0px 0px 84px -10px rgba(0,0,0,0.75);

								&::placeholder{
									color: white;
								}

								&:-ms-input-placeholder{
									color: white;
								}

								&::-ms-input-placeholder{
									color: white;
								}

								&::-webkit-input-placeholder{
									color: white;
								}
							}// End of Input 
						} // End of #inputContainer

						.btn[data-search-close]{
							z-index: 2;
						}
					} // End of Opened

					.btn[data-search-close]{
						position: fixed;
						top: 40px;
						right: 30px;
						z-index: -1;
						background: transparent;

						span{
							color: white;
						}
					}
				}
			}

			input{
				vertical-align: middle;
			}
		} // End of li#search_container


		&:last-child{
			text-align: right;
			padding: 0px 15px;
		}

		ul.search-results{
			width              : calc(100% - 30px);
			z-index            : -90;
			list-style-type    : none;
			margin             : 0;
			padding            : 0;
			border-radius      : 3px;
			-webkit-box-shadow : 0px 4px 7px 0px rgba(0,0,0,0.1);
			box-shadow         : 0px 4px 7px 0px rgba(0,0,0,0.1);
			overflow           : hidden;

			li{
				display     : block;
				width       : 100%;
				opacity     : 0.7;
				display     : block;
				width       : 100%;
				height      : 38px;
				margin      : 0;
				padding     : 0;
				border-top  : 1px solid #ccc;
				line-height : 38px;
				overflow    : hidden;
				background  : rgba(255,255,255, 0.5);
				@include prefix(transition, all 0.3s ease-in-out, webkit spec);


				&:hover{
					opacity: 1;
					background: rgba(255,255,255,1);
				}

				*:first-child{
					 border-top: none;
				}

				.thumbnail{
				  float: left;
				  display: block;
				  width: 32px;
				  height: 32px;    
				  margin: 3px 0 3px 3px;
				  padding: 0;
				  text-align: center;
				  overflow: hidden;
				}

				.title{
				  float: left;
				  padding-left: 8px;
				  white-space: nowrap;
				  overflow: hidden;
				  /* The text-overflow property is supported in all major browsers. */
				  text-overflow: ellipsis;
				  -o-text-overflow: ellipsis;
				  text-align: left;
				}
			}
		}// Autocomplete CSS
	} // End of Header Element

	&.stacked{
		flex-wrap: wrap;

		.header_logo{
			width: 100%;

			a,img{
				margin: 0 auto;
			}
		}

		.lower_header{
			width: 100%;
			display: flex;
			justify-content: center;
			align-items: center;

			.search-container, .icons-container{
			   max-width: 33%;
			}

			.header_navigation{
				max-width: 66%;
				text-align: center;
				flex-grow: 1;

				ul{
					margin: 0 auto;
				}
			}
			.search-container{
				ul.site-nav{
					padding-left: 15px;
				}
			}
		}
	}// End of Stacked Header
} // End of .main_header

/*======= End of Header ==============*/

/*======= Start of Mega Menu =========*/

ul.site-nav.mega{
	margin: 0;

	li.has-mega{
		.mega-container{
			max-height: 0;
			overflow-y: hidden;
			position: absolute;
			top: 100%;
			left: 0;
			width: 100%;
			right: 0;
			@include prefix(transition, all 0.3s ease-in-out, webkit spec);

			.mega_inner{
				display: flex;

				.mega__ul.vert{
					display: flex;

					.site-nav__submenu{
						margin: 0;
						padding: 15px 0px;

						li{
							padding: 5px 0px;
							display: block;
							font-size: 0.9em;
							text-transform: uppercase;
							@include prefix(transition, all 0.3s ease-in-out, webkit spec);

							&:hover{
								@include prefix(transform, scale(1.1, 1.1), webkit spec);

							}
						}
					}

					li.mega__li{
						border-right: 1px solid #ccc;
						padding: 0px 10px;

						&:last-child{
							border-right: 0px;
							padding-right: 30px;
						}
					}

				}

				.mega_header{
					font-weight: bold;
					letter-spacing: 1px;
					font-size: 1.1em;
					text-transform: uppercase;
				}

				.mega__item{
					&.image_container{
						display: flex;
						justify-content: center;
						align-items: center;
					}
				}

			}
		}

		&:hover{
			.mega-container{
				max-height: 75vh;
				padding: 15px 0px;
			}
		}
	} // end of li.has-mega
}// end of site-nav.mega
/*========= End of Mega Menu ==========*/

/*======== Start of Cart Drawer ======*/
div.cart_drawer{
	height: 100vh;
	width: 300px;
	position: fixed;
	right: -300px;
	top: 0;
	bottom: 0;
	@include prefix(transition, all 0.3s ease-in-out, webkit spec);
	z-index: 99;
	border-left: 1px solid #ccc;

	.drawer__header{
		padding-left: 15px;
	}
} // end of .cart_drawer

body.drawer__open-right{
	div.cart_drawer{
		right: 0px;
	}
}


/*======= End of Cart Drawer ======*/

/*======= Start of Slider =========*/
.slideshow-container{
	opacity: 0; // Hide on page load, velocity will display.
	padding-bottom: 30px;

	.slideshow-js{
		button.slick-arrow{
			position: absolute;
			top: 45%;
			z-index: 3;

			&.slick-prev{
				left: 3%;
			}

			&.slick-next{
				right: 3%;
			}
		}

		.slide{
			position: relative;
		}

		.slide__overlay{
			position: absolute;
			display: flex;
			justify-content: center;
			align-items: center;
			flex-direction: column;
			padding: 10px;

			&.drop-shadow{
				-webkit-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.75);
				-moz-box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.75);
				box-shadow: 0px 0px 14px 1px rgba(0,0,0,0.75);
			}

			.slide__copy{
				padding: 5px 0px;
			}

			&[data-position-top-left]{
				top: 15%;
				left: 5%;	
			}

			&[data-position-top-center]{
				top: 15%;
				left: 45%;
			}

			&[data-position-top-right]{
				top: 15%;
				right: 5%;
			}

			&[data-position-center-left]{
				top: 30%;
				left: 5%;
			}

			&[data-position-center-center]{
				top: 30%;
				left: 45%;
			}

			&[data-position-center-right]{
				top: 30%;
				right: 5%;
			}

			&[data-position-bottom-left]{
				top: 70%;
				left: 5%;
			}

			&[data-position-bottom-center]{
				top: 70%;
				left: 45%;
			}

			&[data-position-bottom-right]{
				top: 70%;
				right: 5%;
			}

			@include media-query($medium){
				display: none;
			}

			@include media-query($small){
				display: none;
			}
		}
	}
}

/*======== End of Slider ==========*/


/*======== Start on Large Tiles =========*/
.large__tiles-container{
	margin: 0 auto;
	display: flex;
	align-items: center;
	justify-content: center;

	.tile{
		padding: 0px 15px;
		@include prefix(transition, all 1s ease-in-out, webkit spec);
		img{
			width: 100%;
			@include prefix(transition, all 0.5s ease-in-out, webkit spec);
		}


	}
}


/*======== End of Large Tiles ===========*/

/*========== Creative Collection =========*/
.creative__collection{
	min-height: 550px;
	padding-top: 30px;

	div[data-section-type="creative-collection"]{
		min-height: 550px;
		max-width: 60%;
		margin: 0 auto;
		display: flex;

		.primary-container{
			max-width: 40%;
			align-self: flex-end;
			padding-bottom: 15%;
			padding-right: 0;

			.creative__subheader{
				text-transform: uppercase;
				font-weight: 400;
				margin-bottom: 5px;
				letter-spacing: 1px;
			}

			.creative__header{
				margin-top: 0px;
			}

			.creative__body{
				letter-spacing: 1px;
				line-height: 1.2em;
			}

			.creative_btn-container{
				padding: 15px 0px;
				margin: 15px 0px;
				.creative_btn{
					padding: 10px 15px;
					margin-right: 5px;
					text-decoration: none;
					letter-spacing: 1px;
					background: #000 url({{ 'right.png' | asset_img_url: 'thumbnail' }}) no-repeat 200% 35%;
					background-size: 29px;
					color: white;
					@include prefix(transition, all 0.5s ease-in-out,webkit spec);

					&:hover{
						padding: 10px 55px 10px 15px;
						background-position: 91% 35%;
					}
				}
			}
		}

		.secondary-container{
			flex-grow: 1;
			width: 50%;
		
			.creative__collection-images{
				position: relative;
				width: 100%;
				height: 100%;
				order: 2;
	
				.creative__collection-image{
					position: absolute;
					top: 50%;
					left: 50%;
					will-change: transform;
					@include prefix(transition, all 1.3s ease-in-out, webkit spec);
					
	
					&:nth-child(1){
						z-index: 2;
						margin-left: -150px;
						margin-top: -235px;
						max-height: 300px;
						top: 50%;
						left: 50%;
					}

					&:nth-child(2){
						z-index: 1;
						width: 170px;
						max-height: 340px;
						margin-left: -85px;
						margin-top: -156px;
					}

					&:nth-child(3){
						z-index: 1;
						width: 160px;
						max-height: 320px;
						margin-left: -80px;
						margin-top: -149px;
					}

					&:nth-child(4){
						z-index: 1;
						width: 100px;
						max-height: 200px;
						margin-left: -50px;
						margin-top: -112px;
					}

					&:nth-child(5){
						z-index: 1;
						width: 200px;
						max-height: 400px;
						margin-left: -100px;
						margin-top: -173px;
						
					}

					&.animated{
						&:nth-child(1){
							-webkit-box-shadow: 3px 3px 9px -2px rgba(0,0,0,0.75);
							-moz-box-shadow: 3px 3px 9px -2px rgba(0,0,0,0.75);
							box-shadow: 3px 3px 9px -2px rgba(0,0,0,0.75);
						}

						&:nth-child(2){
							@include prefix(transform, translate3d(-178px, 82px, 0), webkit spec);
						}

						&:nth-child(3){
							@include prefix(transform, translate3d(-200px, -112px, 0), webkit spec);
						}

						&:nth-child(4){
							@include prefix(transform, translate3d(178px, 112px, 0), webkit spec);
						}

						&:nth-child(5){
							@include prefix(transform, translate3d(178px, -82px, 0), webkit spec);
						}
					}
				}
			}
		}
	}
}
/*=========== end of Creative Collection ========*/

/*============ Instafeed Section ========*/
.instagram-feed{
	[data-section-type="instagram"]{
		margin: 0 auto;

		#instafeed{
			display: flex;
			justify-content: center;

			img{
				padding: 0px 10px;
			}

			.post{

				&:nth-child(1){
					@include prefix(transition, all 1s ease-in-out,webkit spec);
				}

				&:nth-child(2){
					@include prefix(transition, all 1.5s ease-in-out,webkit spec);
				}

				&:nth-child(3){
					@include prefix(transition, all 2s ease-in-out,webkit spec);
				}

				&:nth-child(4){
					@include prefix(transition, all 2.5s ease-in-out,webkit spec);
				}

				&.before{

					&:nth-child(1){
						@include prefix(transform, translateX(100vw), webkit spec);
					}

					&:nth-child(2){
						@include prefix(transform, translateX(110vw), webkit spec);
					}

					&:nth-child(3){
						@include prefix(transform, translateX(120vw), webkit spec);
					}

					&:nth-child(4){
						@include prefix(transform, translateX(130vw), webkit spec);
					}
				}
			}

			&.editing{
				.post{
					position: relative;

					&:after{
						content: attr(data-id);
						position: absolute;
						top: 30%;
						left: 0;
						right: 0;
						background: white;
						color: black;
					}
				}
			}
		}
	}
}

@keyframes slideLeft{
	from {left: 50%; opacity: 0;}
	to {left: -10%; opacity: 1;}
}

@keyframes slideRight{
	from {left: 50%; opacity: 0;}
	to {left: 105%; opacity: 1; }
}

.lightbox-instagram{
	position: relative;

	&.overlay{
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: rgba(255,255,255,0.5);
		z-index: 999;
		display: flex;
		justify-content: center;
		align-items: center;

		.instagram-control{
			z-index: 9991;
			background: url({{ 'right.png' | asset_img_url: 'thumbnail' }}) no-repeat;
			background-size: contain;
			background-position: center;
			&.prev{
				transform: rotate(180deg);
				@include prefix(animation, slideLeft 1.5s forwards,webkit spec);
			}

			&.next{
				@include prefix(animation, slideRight 1.5s forwards,webkit spec);
			}
		}

		.inner-window{
			position: relative;
			display: flex;
			justify-content: center;
			-webkit-box-shadow: 3px 3px 9px -2px rgba(0,0,0,0.75);
			-moz-box-shadow: 3px 3px 9px -2px rgba(0,0,0,0.75);
			box-shadow: 3px 3px 9px -2px rgba(0,0,0,0.75);
			.instagram-shop{ 
				background: white;
				text-align: center;
				padding: 0px 10px;
				display: none;
				justify-content: center;
				align-items: center;
				flex-direction: column;

				img{
					width: 100%;
					max-width: 350px;
				}
			}
		}

		.inner-window img{
			z-index: 9992;
		}

		&.shop{
			.inner-window{
				.instagram-shop{
					display: flex;
				}
			}
		}
	}

	.instagram-control{
		position: absolute;
		top: 50%;
		left: 50%;
		height: 25px;
		width: 25px;
		border: 0;
		opacity: 0;
		@include prefix(filter, invert(100%),webkit spec);
		// @include prefix(transition, all 1.5s ease-in-out 5s,webkit spec);
	}
}
/*============ end of instafeed section =========*/