<div data-section-id="{{ section.id }}" data-section-type="creative-collection">
    {% assign collection = collections[section.settings.collection_selected] %}
  <div class="primary-container" [data-creative-context]>
      <h3 class="creative__subheader">{{ section.settings.subheadline }}</h3>
      <h1 class="creative__header">{{ section.settings.header }}</h1>
      <span class="creative__body">{{ section.settings.body }}</span>
      <div class="clearfix"></div>
      <div class="creative_btn-container">
        <a href="{{ section.settings.btn1_url }}" class="creative_btn">{{ section.settings.btn1_text }}</a>
        <a href="{{ section.settings.btn2_url }}" class="creative_btn">{{ section.settings.btn2_text }}</a>
      </div>
  </div>
  <div class="secondary-container">
    <div class="creative__collection-images" [data-creative-images]>
    {% for product in collection.products limit: 5 %}
        <img src="{{ product.featured_image.src | img_url: '1024x1024' }}" alt="" class="creative__collection-image" [data-creative-image]>
    {% endfor %}
    </div>
  </div>

</div>

{% schema %}
  {
    "name": "Creative Collection",
    "class":"creative__collection",
    "settings": [
      {
        "type":"collection",
        "id":"collection_selected",
        "label":"Select Collection"
      },
      {
        "type":"text",
        "id":"subheadline",
        "label":"Subheader"
      },
      {
        "type":"text",
        "id":"header",
        "label":"Header Text"
      },
      {
        "type":"textarea",
        "id":"body",
        "label":"Main Body Text"
      },
      {
        "type":"text",
        "id":"btn1_text",
        "label":"Button Text"
      },
      {
        "type":"url",
        "id":"btn1_url",
        "label":"Button Destination"
      },
      {
        "type":"text",
        "id":"btn2_text",
        "label":"Button Text"
      },
      {
        "type":"url",
        "id":"btn2_url",
        "label":"Button Destination"
      },
      {
        "type":"color",
        "id":"btn_background",
        "label":"Button Background Color"
      },
      {
        "type":"color",
        "id":"btn_color",
        "label":"Button Text Color"
      }
    ],
    "blocks": [
      {
        "type":"image",
        "name":"Image Feature",
        "settings":[
       {
          "type":      "range",
          "id":        "width",
          "min":       10,
          "max":        100,
          "step":       1,
          "unit":       "%",
          "label":     "Width",
          "default":   75
      },
      {
        "label":"Image",
        "id":"image",
        "type":"image_picker"
      },
      {
        "type":"text",
        "id":"header",
        "label":"Header Text"
      },
      {
        "type":"textarea",
        "id":"copy",
        "label":"Body Text"
      } 
        ]
      }
    ],
    "presets": [
      {
        "name": "Creative Collection",
        "category": "Homepage Features. (Complex)"
      }
    ]
  }
{% endschema %}
