<style>
  {% if section.settings.logo != blank %}
    .site-header__logo-image {
      max-width: {{ section.settings.logo_max_width }}px;
    }
  {% endif %}

  {% if section.settings.topbar_promo %}
      .header_promo{
        justify-content: {{ section.settings.content_alignment }};
        background: {{ section.settings.topbar_background }};
        color: {{ section.settings.topbar_textcolor }};
        font-size: {{ section.settings.topbar_fontsize }}px;
        padding: {{ section.settings.topbar_padding }}px 0px;
      }

      @media only screen and (min-device-width : 320px) and (max-device-width : 480px){ 
        .header_promo{
              font-size: {{ section.settings.topbar_fontsize-mobile }}px;
              padding: {{ section.settings.topbar_padding-mobile }}px 0px;
            }
      }
  {% endif %}
</style>
<div data-section-id="{{ section.id }}" data-section-type="header" {% if section.settings.stick_nav %}data-stick{% endif %}>
    {% if section.settings.topbar_promo %}
      <div class="header_promo one-whole">
        <span id="promo_text">{{ section.settings.topbar_text }}</span>
        <a href="{{ section.settings.topbar_url }}" class="link-screen"></a>
      </div>
    {% endif %}
  
    {% assign format = section.settings.header_format %}
    {% case format %}<!-- Desktop -->
        {% when 'bar' %}
            <header role="banner" class="main_header grid">
                <div class="header__element grid__item header_navigation" style="order: {{ section.settings.navigation_position }};">
                  <nav role="navigation">
                    <ul class="site-nav {{ section.settings.navigation_type }}">
                      {% for link in linklists[section.settings.main_linklist].links %}
                        {%- assign child_list_handle = link.title | handleize -%}
                        {% if menus[child_list_handle].links != blank %}
                          <li class="site-nav--has-submenu{% if link.active %} site-nav--active{% endif %}" id="{{ link.handle }}">
                            <a href="{{ link.url }}" class="site-nav__link">
                              {{ link.title }}
                              {% include 'icon-arrow-down' %}
                            </a>
                            <ul class="site-nav__submenu">
                              {% for childlink in menus[child_list_handle].links %}
                                <li {% if childlink.active %}class="site-nav--active"{% endif %}>
                                  <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
                                </li>
                              {% endfor %}
                            </ul>
                          </li>
                        {% else %}
                          <li {% if link.active %}class="site-nav--active"{% endif %} id="{{ link.handle }}">
                            <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
                          </li>
                        {% endif %}
                      {% endfor %}
                    </ul>
                  </nav>                  
                </div> <!-- end of navigation -->
                <div class="header__element grid__item header_logo" style="order: {{ section.settings.logo_position}};" itemscope itemtype="http://schema.org/Organization">
                  <a href="/" itemprop="url" class="site-logo{% if section.settings.logo != blank %} site-header__logo-image{% endif %}">
                    {% if section.settings.logo != blank %}
                      {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
                      <img src="{{ section.settings.logo | img_url: image_size }}"
                           srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                           alt="{{ section.settings.logo.alt | default: shop.name }}"
                           itemprop="logo">
                    {% else %}
                      {{ shop.name }}
                    {% endif %}
                  </a>  
                </div><!-- end of logo -->
                <div class="header__element grid__item header_icons" style="order: {{ section.settings.icons_position }};">
                     <ul class="site-nav">
                     <li><a href="/cart" class="site-nav__link">{% assign cartIcon = section.settings.cart_icon %}
                      {% if cartIcon == 'standard' %}{% include 'icon-cart' %}{% else %}<img src="{{ section.settings.custom_cart | img_url: 'thumbnail' }}" class="cart_icon_img"/>{% endif %}
                        
                        {{ 'layout.cart.title' | t }}
                       {% if section.settings.cart_count %} ({{ cart.item_count }} {{ 'layout.cart.items_count' | t: count: cart.item_count }}) {% endif %}
                      </a></li><!-- Cart Icon for Bar Header -->
 
                       {% if shop.customer_accounts_enabled %}
                   
                          {% if customer %}
                            <li>
                              {% if customer.first_name != blank %}
                                {% capture first_name %}<a href="/account" class="site-nav__link">{{ customer.first_name }}</a>{% endcapture %}
                                {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
                              {% else %}
                                <a href="/account" class="site-nav__link">{{ 'layout.customer.account' | t }}</a>
                              {% endif %}
                            </li>
                            <li class="site-nav__link">
                              {{ 'layout.customer.log_out' | t | customer_logout_link }}
                            </li>
                          {% else %}
                            <li class="site-nav__link">
                              {{ 'layout.customer.log_in' | t | customer_login_link }}
                            </li>
                            <li style="display: none;">
                              {{ 'layout.customer.create_account' | t | customer_register_link }}
                            </li>
                          {% endif %}<!-- End of Customer If Statement -->
                      
                      {% endif %}
                      <li id="search_container" class="{{ section.settings.search_type }}" data-search-container data-style="{{ section.settings.search_type }}">
                        <form action="/search" method="get" role="search" data-search-form> 
                          <label for="Search" class="label-hidden">
                            {{ 'general.search.placeholder' | t }}
                          </label>
                          <input type="search"
                                 name="q"
                                 id="Search"
                                 value="{{ search.terms | escape }}"
                                 placeholder="{{ section.settings.search_placeholder | strip }}" data-search-input {% if section.settings.enable_autosearch %}data-autosearch{% endif %}>
                          <button type="submit" class="btn" data-search-button>
                            {% include 'icon-search' %}
                            <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
                          </button>
                          <button class="btn" data-search-close>
                            <span>X</span>
                          </button>
                        </form>
                      </li><!-- End of Search Icon -->
                      </ul>
                </div><!-- end of icons -->
            </header>
        {% when 'stacked' %}
             <header role="banner" class="main_header grid stacked">
                  <div class="header__element grid__item header_logo" itemscope itemtype="http://schema.org/Organization">
                   <a href="/" itemprop="url" class="site-logo{% if section.settings.logo != blank %} site-header__logo-image{% endif %}">
                      {% if section.settings.logo != blank %}
                        {% capture image_size %}{{ section.settings.logo_max_width }}x{% endcapture %}
                        <img src="{{ section.settings.logo | img_url: image_size }}"
                             srcset="{{ section.settings.logo | img_url: image_size }} 1x, {{ section.settings.logo | img_url: image_size, scale: 2 }} 2x"
                             alt="{{ section.settings.logo.alt | default: shop.name }}"
                             itemprop="logo">
                      {% else %}
                        {{ shop.name }}
                      {% endif %}
                    </a>  
                  </div>
                <div class="lower_header">
                  <div class="header__element grid__item search-container">
                    <ul class="site-nav">
                      <li id="search_container" class="{{ section.settings.search_type }}" data-search-container data-style="{{ section.settings.search_type }}">
                        <form action="/search" method="get" role="search" data-search-form> 
                          <label for="Search" class="label-hidden">
                            {{ 'general.search.placeholder' | t }}
                          </label>
                          <button type="submit" class="btn" data-search-button>
                            {% include 'icon-search' %}
                            <span class="icon-fallback-text">{{ 'general.search.submit' | t }}</span>
                          </button>
                           <input type="search"
                                 name="q"
                                 id="Search"
                                 value="{{ search.terms | escape }}"
                                 placeholder="{{ section.settings.search_placeholder | strip }}" data-search-input {% if section.settings.enable_autosearch %}data-autosearch{% endif %}>
                          <button class="btn" data-search-close>
                            <span>X</span>
                          </button>
                        </form>
                      </li><!-- End of Search Icon -->
                    </ul>
                  </div>
                  <div class="header__element grid__item header_navigation">
                    <nav role="navigation">
                      <ul class="site-nav {{ section.settings.navigation_type }}">
                        {% for link in linklists[section.settings.main_linklist].links %}
                          {%- assign child_list_handle = link.title | handleize -%}
                          {% if menus[child_list_handle].links != blank %}
                            <li class="site-nav--has-submenu{% if link.active %} site-nav--active{% endif %}" id="{{ link.handle }}">
                              <a href="{{ link.url }}" class="site-nav__link">
                                {{ link.title }}
                                {% include 'icon-arrow-down' %}
                              </a>
                              <ul class="site-nav__submenu">
                                {% for childlink in menus[child_list_handle].links %}
                                  <li {% if childlink.active %}class="site-nav--active"{% endif %} id="{{ link.handle }}">
                                    <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
                                  </li>
                                {% endfor %}
                              </ul>
                            </li>
                          {% else %}
                            <li {% if link.active %}class="site-nav--active"{% endif %}>
                              <a href="{{ link.url }}" class="site-nav__link">{{ link.title }}</a>
                            </li>
                          {% endif %}
                        {% endfor %}
                      </ul>
                    </nav>       
                  </div>
                  <div class="header__element grid__item icons-container">
                    <ul class="site-nav">
                       <li><a href="/cart" class="site-nav__link">{% assign cartIcon = section.settings.cart_icon %}
                        {% if cartIcon == 'standard' %}{% include 'icon-cart' %}{% else %}<img src="{{ section.settings.custom_cart | img_url: 'thumbnail' }}" class="cart_icon_img"/>{% endif %}
                          
                          {{ 'layout.cart.title' | t }}
                         {% if section.settings.cart_count %} ({{ cart.item_count }} {{ 'layout.cart.items_count' | t: count: cart.item_count }}) {% endif %}
                        </a></li><!-- Cart Icon for Bar Header -->
   
                         {% if shop.customer_accounts_enabled %}
                     
                            {% if customer %}
                              <li>
                                {% if customer.first_name != blank %}
                                  {% capture first_name %}<a href="/account" class="site-nav__link">{{ customer.first_name }}</a>{% endcapture %}
                                  {{ 'layout.customer.logged_in_as_html' | t: first_name: first_name }}
                                {% else %}
                                  <a href="/account" class="site-nav__link">{{ 'layout.customer.account' | t }}</a>
                                {% endif %}
                              </li>
                              <li class="site-nav__link">
                                {{ 'layout.customer.log_out' | t | customer_logout_link }}
                              </li>
                            {% else %}
                              <li class="site-nav__link">
                                {{ 'layout.customer.log_in' | t | customer_login_link }}
                              </li>
                              <li style="display: none;">
                                {{ 'layout.customer.create_account' | t | customer_register_link }}
                              </li>
                            {% endif %}<!-- End of Customer If Statement -->
                        
                        {% endif %}
                    </ul>
                  </div>
                </div>
             </header>
        {% else %}

    {% endcase %}<!-- Desktop -->
</div>
{% schema %}
  {
    "name": "Header",
    "settings": [
      {
        "type":"header",
        "content":"Promo Bar Settings"
      },
      {
        "type":"checkbox",
        "id":"topbar_promo",
        "label":"Show Header Promo Bar"
      },
      {
        "type":"color",
        "id":"topbar_background",
        "label":"Promo Bar Background"
      },
      {
        "type":"color",
        "id":"topbar_textcolor",
        "label":"Promo Bar Text Color"
      },
      {
        "type":"textarea",
        "id":"topbar_text",
        "label":"Text for Top Bar Promo"
      },
      {
        "type":"url",
        "id":"topbar_url",
        "label":"Link Destination"
      },
      {
         "type": "select",
         "id": "content_alignment",
         "options": [
            { "value": "flex-start", "label": "Left"},
            { "value": "center", "label": "Center"},
            { "value": "flex-end", "label": "Right"}
         ],
         "default":"center",
         "label": "Content Alignment"
      },
      {
          "type":   "range",
          "id":     "topbar_fontsize",
          "min":       5,
          "max":       24,
          "step":      1,
          "unit":      "px",
          "label":     "Text Size (Desktop)",
          "default":   12
      },
      {
          "type":   "range",
          "id":     "topbar_fontsize-mobile",
          "min":       5,
          "max":       24,
          "step":      1,
          "unit":      "px",
          "label":     "Text Size (Mobile)",
          "default":   10
      },
      {
          "type":   "range",
          "id":     "topbar_padding",
          "min":       0,
          "max":       30,
          "step":      1,
          "unit":      "px",
          "label":     "Padding (Top and Bottom)",
          "default":   5
      },
      {
          "type":   "range",
          "id":     "topbar_padding-mobile",
          "min":       0,
          "max":       30,
          "step":      1,
          "unit":      "px",
          "label":     "Padding (Top and Bottom) for Mobile",
          "default":   5
      },
      {
          "type":"header",
          "content":"Header Format (Desktop)"
      },
      {
         "type": "radio",
         "id": "header_format",
         "options": [
            { "value": "bar", "label": "Bar"},
            { "value": "stacked", "label": "Stacked"}
         ],
         "default":"bar",
         "label": "Select Header Formatting"
      },
      {
        "type":"checkbox",
        "id":"stick_nav",
        "label":"Enable Sticky Nav"
      },
      {
        "type":"header",
        "content":"Header Elements"
      },
      {
        "type": "image_picker",
        "id": "logo",
        "label": "Logo image"
      },
      {
        "type": "range",
        "id": "logo_max_width",
        "min": 50,
        "max": 450,
        "step": 10,
        "unit": "px",
        "label": "Custom logo width",
        "default": 250
      },
      {
        "type": "link_list",
        "id": "main_linklist",
        "label": "Menu",
        "default": "main-menu"
      },
      {
        "type":"header",
        "content":"Bar Header Settings"
      },
      {
        "type":"paragraph",
        "content":"These settings are only relevant if you selected 'Bar' as the Header Format above. "
      },
      {
         "type": "radio",
         "id": "navigation_position",
         "options": [
            { "value": "1", "label": "First"},
            { "value": "2", "label": "Second"},
            { "value": "3", "label": "Third"}
         ],
         "default":"1",
         "label": "Navigation Position"
      },
      {
         "type": "radio",
         "id": "logo_position",
         "options": [
            { "value": "1", "label": "First"},
            { "value": "2", "label": "Second"},
            { "value": "3", "label": "Third"}
         ],
         "default":"2",
         "label": "Logo Position"
      },
      {
         "type": "radio",
         "id": "icons_position",
         "options": [
            { "value": "1", "label": "First"},
            { "value": "2", "label": "Second"},
            { "value": "3", "label": "Third"}
         ],
         "default":"3",
         "label": "Icons Position"
      },
      {
         "type": "radio",
         "id": "navigation_type",
         "options": [
            { "value": "simple", "label": "Simple"},
            { "value": "dropdown", "label": "Dropdown"},
            { "value": "mega", "label": "MegaMenu"}
         ],
         "default":"simple",
         "label": "Navigation Type"
      },
      {
        "type":"header",
        "content":"Cart Icon Settings"
      },
      {
        "type":"paragraph",
        "content":"To change the wording for 'cart' or 'items' near the cart icon you must go to the theme and click 'edit language' "
      },
      {
         "type": "radio",
         "id": "cart_icon",
         "options": [
            { "value": "standard", "label": "Standard Icon"},
            { "value": "custom", "label": "Custom Icon"}
         ],
         "default":"standard",
         "label": "Cart Icon"
      },
      {
        "type":"image_picker",
        "id":"custom_cart",
        "label":"Custom Cart Image"
      },
      {
        "type":"checkbox",
        "id":"cart_count",
        "label":"Display Cart Item Count"
      },
      {
        "type":"header",
        "content":"Search Bar Settings"
      },
      {
         "type": "radio",
         "id": "search_type",
         "options": [
            { "value": "standard", "label": "Always Show"},
            { "value": "expand", "label": "Expand on Click"},
            { "value": "fade", "label": "Fade In"},
            { "value": "bar", "label": "Display as Bar"},
            { "value": "overlay", "label": "Full Screen Overlay"}
         ],
         "default":"standard",
         "label": "Search Bar Type"
      },
      {
          "type":"checkbox",
          "id":"enable_autosearch",
          "label":"Enable Auto Complete Search"
      },
      {
        "type":"text",
        "id":"search_placeholder",
        "default":"Search",
        "label":"Search Bar Placeholder Text"
      }
    ]
  }
{% endschema %}
