<div data-section-id="{{ section.id }}" data-section-type="instagram" data-instagram-id="{{ section.settings.userID}}" data-token="{{ section.settings.accessToken }}" data-limit="{{ section.settings.limit }}" data-mock="{% if section.settings.style contains 'lightbox' %}true{% else %}false{% endif %}" {% if section.settings.style contains 'lightbox' %}data-lightbox="{{ section.settings.style | remove: '-lightbox' }}"{% endif %} data-style="{{ section.settings.style }}" data-instagram style="width: {{ section.settings.width }}%;">
  <div id="instafeed"></div> 
</div>

{% if section.settings.style contains 'lightbox' %}
<script id="feedTemplate" type="text/template">
  {% raw %}
    {{#items}}
      <div class="post before" data-id="{{id}}">
          <img src="{{img}}" alt="{{caption}}" class="post__img">
      </div>
    {{/items}}
  {% endraw %}
</script>
{% endif %}

{% for block in section.blocks %}
    <span style="display: none;" data-id="{{ block.settings.id }}" data-product="{{ block.settings.feature_product }}" class="id-span">{{ block.settings.id }}</span>
{% endfor %}


{% schema %}
  {
    "name": "Instagram Feed",
    "class":"instagram-feed",
    "settings": [
      {
        "type":      "range",
        "id":        "width",
        "min":       20,
        "max":        100,
        "step":       1,
        "unit":       "%",
        "label":     "Container Width",
        "default":   75
      },
      {
        "type": "text",
        "id": "userID",
        "label": "Instagram User ID"
      },
      {
        "type":"text",
        "id":"accessToken",
        "label":"User Access Token"
      },
      {
        "type":      "range",
        "id":        "limit",
        "min":       1,
        "max":        20,
        "step":       1,
        "unit":       "img",
        "label":     "Number of Posts to Show",
        "default":   4
      },
      {
         "type": "select",
         "id": "style",
         "options": [
            { "value": "standard", "label": "Standard Grid"},
            { "group":"Lightbox", "value": "lightbox", "label": "Lightbox w/ Arrows"},
            { "group":"Lightbox", "value": "scrollable-lightbox", "label": "Scrollable Lightbox"}
         ],
         "default":"standard",
         "label": "Feed Style"
      },
      {
        "type":"paragraph",
        "content":"Instagram is only shoppable if using one of the lightbox styles."
      }
    ],
    "blocks": [
      {
        "type": "Product",
        "name": "Product",
        "settings": [
          {
            "type":"text",
            "id":"id",
            "label":"Image ID"
          },
          {
             "type": "product",
             "id": "feature_product",
             "label": "Feature product"
          }
        ]
      }
    ],
    "presets": [
      {
        "name": "Instagram Feed",
        "category": "Homepage Features. (Complex)"
      }
    ]
  }
{% endschema %}