<div data-section-id="{{ section.id }}" data-section-type="tiles" style="width: {{ section.settings.width }}%;" class="large__tiles-container">
  {% for block in section.blocks %}
    <div class="tile js-{{ section.settings.animation | remove: '-left' | remove: '-right' }}" {% if section.settings.animation contains 'left' or section.settings.animation contains 'right' %}animation-direction="{{ section.settings.animation | remove: 'slide-' }}"{% endif %} style="width: {{ block.settings.width }}%;">
      {% if section.settings.animation == 'zoom' %}<div style="overflow: hidden;">{% endif %}
      <img src="{{ block.settings.image | img_url: '1024x1024' }}" alt="{{ block.settings.image | remove: 'files/' }}" class="tile__img">
      {% if section.settings.animation == 'zoom' %}</div>{% endif %}
      <div class="tile__lower">
        <h2 class="tile__header">{{ block.settings.header }}</h2>
        <span class="tile__copy">{{ block.settings.copy }}</span>
      </div>
    </div>
  {% endfor %}
</div>

{% schema %}
  {
    "name": "Large Tiles",
    "class":"large__tiles",
    "settings": [
      {
          "type":      "range",
          "id":        "width",
          "min":       10,
          "max":        100,
          "step":       1,
          "unit":       "%",
          "label":     "Width",
          "default":   75
      },
      {
         "type": "select",
         "id": "animation",
         "options": [
            { "value": "none", "label": "No Animation"},
            { "value": "fade", "label": "Fade"},
            { "value": "zoom", "label": "Zoom"},
            { "value": "slide-left", "label": "Slide from Left"},
            { "value": "slide-right", "label": "Slide from Right"}
         ],
         "label": "Animation for Tiles"
      }
    ],
    "blocks": [
      {
        "type":"image",
        "name":"Image Feature",
        "settings":[
       {
          "type":      "range",
          "id":        "width",
          "min":       10,
          "max":        100,
          "step":       1,
          "unit":       "%",
          "label":     "Width",
          "default":   75
      },
      {
        "label":"Image",
        "id":"image",
        "type":"image_picker"
      },
      {
        "type":"text",
        "id":"header",
        "label":"Header Text"
      },
      {
        "type":"textarea",
        "id":"copy",
        "label":"Body Text"
      } 
        ]
      }
    ],
    "presets": [
      {
        "name": "Large Tiles",
        "category": "Homepage Features"
      }
    ]
  }
{% endschema %}
