<style>
	#shopify-section-{{ section.id }}{
		transition: all ease-in-out {{ section.settings.transition_speed }}ms;
		-webkit-transition: all ease-in-out {{ section.settings.transition_speed }}ms;
		background: {{ section.settings.mega_background }};
	}

	.mega-container{ {% comment %} This is to hide the menu on page load {% endcomment %}
		display: none;
	}
</style>
<div data-section-id="{{ section.id }}" data-section-type="megamenu" data-mega-menu data-target="{{ section.settings.target }}" class="grid__item mega_inner">
	{% for block in section.blocks %}
		{% assign block_type = block.type %}
		
		{% if block_type == 'image' %}
			<div class="mega__item image_container">
				{% assign alt = block.settings.image | remove: 'files/' | split: '.' | first %}
				<img src="{{ block.settings.image | img_url: 'grande' }}" alt="{{ alt }}" class="mega__image">
			</div>
		{% elsif block_type == 'menu'%}
			<div class="mega__item">
				<ul class="mega__ul {% if block.settings.children %}vert{% endif %}"><!-- Below here for loop through a menu -->
					{% for link in linklists[block.settings.menu].links%}
					{% assign mainhandle = block.settings.menu %}
					{% assign combined = mainhandle | append:'-' | append: link.handle %}
					<li class="mega__li" data-menu="{{mainhandle}}">
						<a href="{{ link.url }}" id="{{ link.handle }}" data-combined="{{combined}}" class="site-nav__link {% if menus[combined].links != blank and block.settings.children %}mega_header{% endif %}">{{ link.title }}</a>
						
						{% if menus[combined].links != blank and block.settings.children %}
							<ul class="site-nav__submenu">
                              {% for childlink in menus[combined].links %}
                                <li>
                                  <a href="{{ childlink.url }}" class="site-nav__link">{{ childlink.title | escape }}</a>
                                </li>
                              {% endfor %}
                          	</ul>
						{% endif %}
					</li>
					{% endfor %}
				</ul>
			</div>
		{% endif %}

	{% endfor %}
</div>
{% comment %}
		Use preloading of images, not loading by default to help with load speed. Since these images will be hidden by default it.
{% endcomment %}

{% schema %}
  {
    "name": "MegaMenu",
    "class":"mega-container",
    "settings": [
	  {
		"type":"paragraph",
		"content":"After adding this section to your homepage, it is best to drag it to the top of the list on the previous menu. This will help with organization."
	  },
      {
        "type": "text",
        "id": "target",
        "label": "Name of Navigation Item for Menu"
      },
      {
         "type": "radio",
         "id": "transition",
         "options": [
            { "value": "slide", "label": "Slide Down"},
            { "value": "fade", "label": "Fade"},
            { "value": "appear", "label": "Appear"}
         ],
         "default":"slide",
         "label": "Appear Transition"
      },
      {
          "type":   "range",
          "id":     "transition_speed",
          "min":       0,
          "max":       1500,
          "step":      50,
          "unit":      "ms",
          "label":     "Transition Display Sped",
          "default":   300,
          "info":"1000ms = 1 second"
      },
      {
      	"type":"color",
      	"id":"mega_background",
      	"default":"#ffffff",
      	"label":"Background Color"
      }
    ],
    "blocks": [
      {
        "type": "menu",
        "name": "Link List",
        "settings": [
          {
            "label": "Menu (Navigation List)",
            "id": "menu",
            "type": "link_list"
          },
          {
          	"label":"Enable Children Links",
          	"id":"children",
          	"type":"checkbox"
          },
          {
          	"type":"paragraph",
          	"content":"The checkbox above will make the selected menu a header menu for the MegaMenu. To create child menus for this menu, go to the navigation dashboard and create menus based off the links in your menu above. Ex: Selected Menu is called 'Boots' with an Item 'Mens'. To create a sub menu it would need to be named 'Boots Mens'"
          }
        ]
      },
      {
      	"type":"image",
      	"name":"Image Feature",
      	"settings":[
			{
				"label":"Image",
				"id":"image",
				"type":"image_picker"
			}
      	]
      }
    ]
  }
{% endschema %}
