<div data-section-id="{{ section.id }}" data-section-type="slideshow" class="slideshow-js" data-slideshow data-accessibility="{{ section.settings.accessibility }}" data-adaptiveHeight="{{ section.settings.adaptiveHeight }}" data-autoplay="{{ section.settings.autoplay }}" data-autoplaySpeed="{{ section.settings.autoplaySpeed }}" data-arrows="{{ section.settings.arrows }}" data-draggable="{{ section.settings.draggable }}" data-infinite="{{ section.settings.infinite }}">
  {% for block in section.blocks %}
    <div class="slide" {{ shopify.block.attributes }} data-slot="{{ forloop.index}}">
      <img src="{% if forloop.first %}{{ block.settings.image | img_url: 'master' }}{% endif %}" {% if forloop.index > 1 %}data-src="{{ block.settings.image | img_url: 'master' }}"{% endif %} alt="{{ block.settings.image }}" class="slide_img "{% if forloop.index > 1 %}data-slick-lazy{% endif %}>
      {% if block.settings.overlay %}
        <div class="slide__overlay {% if block.settings.dropshadow %}drop-shadow{% endif %}" data-position-{{ block.settings.position }} style="background: {{ block.settings.overlay_background }}; color: {{ block.settings.text_color }};">
            <h2 class="slide__header">{{ block.settings.header }}</h2>
            <span class="slide__copy">{{ block.settings.copy }}</span>
            <a href="{{ block.settings.button_url }}">{{ block.settings.button_text }}</a>
        </div>
      {% endif %}
    </div>
  {% endfor %}
</div>
{% comment %}
  All slick attributes should be passed through as data-attributes on the main container. .slideshow-js
{% endcomment %}

{% schema %}
  {
    "name": "Slideshow",
    "class":"slideshow-container",
    "settings": [
      {
          "type":      "range",
          "id":        "width",
          "min":       10,
          "max":        100,
          "step":       1,
          "unit":       "%",
          "label":     "Width",
          "default":   100
      },
      {
        "type":"checkbox",
        "id":"accessibility",
        "default": true,
        "label":"Enable Tab and Arrow control"
      },
      {
        "type":"checkbox",
        "id":"adaptiveHeight",
        "label":"Enable Adaptive Height"
      },
      {
        "type":"checkbox",
        "id":"autoplay",
        "label":"Enable Autoplay"
      },
      {
          "type":      "range",
          "id":        "autoplaySpeed",
          "min":       500,
          "max":        9000,
          "step":       500,
          "unit":       "%",
          "label":     "Autoplay Slide Speed",
          "default":   3000
      },
      {
        "type":"checkbox",
        "id":"arrows",
        "label":"Enable Arrows"
      },
      {
        "type":"checkbox",
        "id":"draggable",
        "default": true,
        "label":"Enable Draggable Control"
      },
      {
        "type":"checkbox",
        "id":"infinite",
        "default":true,
        "label":"Infinite Loop Slideshow"
      }
    ],
    "blocks": [
      {
        "type":"image",
        "name":"Image Feature",
        "settings":[
      {
        "label":"Image",
        "id":"image",
        "type":"image_picker"
      },
      {
        "type":"checkbox",
        "id":"overlay",
        "label":"Include Overlay"
      },
      {
         "type": "select",
         "id": "position",
         "options": [
            { "group":"Left","value": "top-left", "label": "Top Left"},
            { "group":"Left","value": "center-left", "label": "Center Left"},
            { "group":"Left","value": "bottom-left", "label": "Bottom Left"},
            { "group":"Center","value": "top-center", "label": "Top Center"},
            { "group":"Center","value": "center-center", "label": "Center Center"},
            { "group":"Center","value": "bottom-center", "label": "Bottom Center"},
            { "group":"Right","value": "top-right", "label": "Top Right"},
            { "group":"Right","value": "center-right", "label": "Center Right"},
            { "group":"Right","value": "bottom-right", "label": "Bottom Right"}
         ],
         "default":"center-center",
         "label": "Overlay Position"
      },
      {
        "type":"color",
        "id":"text_color",
        "default":"#000000",
        "label":"Overlay Text Color"
      },
      {
        "type":"color",
        "id":"overlay_background",
        "label":"Overlay Background Color"
      },
      {
          "type":"checkbox",
          "id":"dropshadow",
          "label":"Enable Overlay Shadow"
      },
      {
        "type":"text",
        "id":"header",
        "label":"Overlay Header Text"
      },
      {
        "type":"textarea",
        "id":"copy",
        "label":"Overlay Copy Text"
      },
      {
        "type":"text",
        "id":"button_text",
        "label":"Button Text"
      },
      {
        "type":"url",
        "id":"button_url",
        "label":"Button Destination"
      }
        ]
      }
    ],
    "presets": [
      {
        "name": "Slideshow",
        "category": "Homepage Features"
      }
    ]
  }
{% endschema %}
